.overlay {
  position: relative;

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    background-color: var(--clr-primary);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px hsla(0, 0%, 0%, 0.2);
    color: var(--clr-neutral-000);
    cursor: pointer;
    font-size: clamp(1rem, 3vw + 0.5rem, 2rem);
    font-weight: 700;
    padding: 10px 20px;
    transition: box-shadow 300ms ease;

    &:hover,
    &:focus-visible {
      box-shadow: 0px 6px 6px hsla(0, 0%, 0%, 0.4);
    }
  }

  .chessboard {
    filter: blur(10px);
  }
}

.game-details {
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
  margin: 0 auto;
  width: min(600px, 100%);

  header {
    display: flex;
    justify-content: space-between;

    background-color: inherit;

    p {
      margin-bottom: 0;
    }
  }

  main {
    display: flex;
    justify-content: space-between;

    p {
      display: grid;
      justify-items: center;
    }
  }
}

.exit-button {
  cursor: pointer;
  font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
  padding: 0.25rem;
  width: 100%;
}
