.highscore-details {
  position: relative;

  background: var(--clr-background-primary);
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  margin: 20px auto;
  padding: 20px;

  h3 {
    color: var(--clr-primary);
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }

  p {
    color: var(--clr-neutral-700);
    font-size: 0.9em;
    margin: 0;
  }

  span {
    position: absolute;
    top: 20px;
    right: 20px;
    
    background: #f1f1f1;
    border-radius: 50%;
    color: var(--clr-neutral-800);
    cursor: pointer;
    padding: 6px;
  }
}
