.square {
  flex: 1 1 0;
  border: none;
  width: 100%;
  aspect-ratio: 1;
  padding: 0;

  &:not(.uninteractive) {
    cursor: pointer;
  }

  &.light {
    background-color: var(--_clr-light);
  }

  &.dark {
    background-color: var(--_clr-dark);
  }

  &:not(.uninteractive):hover,
  &:focus-visible {
    background-color: hsla(43, 74%, 49%, 0.75);
  }

  &.correct {
    background-color: hsla(120, 100%, 25%, 0.75) !important;
  }

  &.incorrect {
    background-color: hsla(0, 100%, 50%, 0.75) !important;
  }
}
