.square {
  border: none;
  cursor: pointer;
  width: 100%;
  aspect-ratio: 1;
  padding: 0;

  &.light {
    background-color: var(--_clr-light);
  }

  &.dark {
    background-color: var(--_clr-dark);
  }

  &:hover,
  &:focus-visible {
    background-color: hsla(43, 74%, 49%, 0.75);
  }
}
