.input-wrapper {
  display: flex;
  align-items: center;

  border: 1px solid var(--clr-neutral-200);
  border-radius: 4px;
  margin-block: 0 1rem;

  &:focus-within {
    outline: 2px solid var(--clr-neutral-800);
  }

  input {
    flex: 1;

    border: none;
    padding: 0 0.5rem;
    outline: none;
  }

  button {
    background-color: var(--clr-neutral-200);
    border: none;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    transition: background-color 300ms ease;

    &:hover,
    &:focus-visible {
      background-color: var(--clr-neutral-300);
    }
  }
}
