.chessboard {
  --_clr-light: var(--clr-neutral-000);
  --_clr-dark: var(--clr-neutral-800);

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  border: 1px solid var(--_clr-dark);
  height: min(600px, 80vh);
  aspect-ratio: 1;
  margin: 0 auto;
}
